* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #edf0f1
}
.container {}
li, a, button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2c5461
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #444444;
    font-size: 16px;
    background-color: #FAFAFA;
}
.favicon {
    display: block;
    height: 4rem;
    width: 9rem;
    cursor: pointer;
}
